---
import type { PageSection } from "@/content/page.types";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import Button from "../LinkButton.astro";

export type Section = PageSection;
export type Props = {
  section: Section;
};

const { section } = Astro.props;
if (!section) {
  throw new Error("Section data is required");
}
const { title, buttons, image, content, image_position } = section;
const image_position_classes = (() => {
  if (!image && !image_position) {
    return ["", "col-12", ""];
  }

  if (image) {
    switch (image_position) {
      case "top":
        return ["flex-row-reverse", "col-12", "col-12 mb-4 lg:mb-0"];
      case "bottom":
        return ["", "col-12", "col-12"];
      case "left":
        return [
          "flex-row-reverse",
          "col-12 md:col-7 lg:col-6",
          "col-12 md:col-5 lg:col-6",
        ];
      case "right":
      default:
        return ["", "col-12 md:col-7 lg:col-6", "col-12 md:col-5 lg:col-6"];
    }
  } else {
    return ["", "col-12", ""];
  }
})();
---

<section class="section relative">
  <div
    class="container bg-surface/50 dark:bg-surface/30 backdrop-blur-md rounded-lg shadow-lg p-8 border border-primary/10 dark:border-primary/5"
  >
    <div
      class=`row items-center ${image_position ? 'custom-position' : ''} ${image_position_classes[0]}`
    >
      {
        image && image_position === "top" && (
          <div class={`${image_position_classes[2]}`}>
            {image.includes("psek_logo_black.png") ? (
              <>
                <Image
                  class="mr-auto ml-auto object-contain w-1/2 dark:hidden"
                  alt={title || "Section content"}
                  src="/images/psek_logo_black.png"
                  width={500}
                  height={333}
                  loading="lazy"
                />
                <Image
                  class="mr-auto ml-auto object-contain w-1/2 hidden dark:block"
                  alt={title || "Section content"}
                  src="/images/psek_logo_white.png"
                  width={500}
                  height={333}
                  loading="lazy"
                />
              </>
            ) : (
              <Image
                class={`mr-auto ml-auto object-contain ${
                  image.includes("pexels-kindelmedia-7667911.jpg") ||
                  image.includes("pexels-kindelmedia-7667715.jpg")
                    ? "w-1/3"
                    : "w-1/2"
                }`}
                alt={title || "Section content"}
                src={image}
                width={500}
                height={333}
                loading="lazy"
              />
            )}
          </div>
        )
      }
      <div class=`${image_position_classes[1]}`>
        <h1 class={`${section.title_size}`} set:html={markdownify(title)} />

        <p class="mt-6" set:html={markdownify(content)} />

        {
          buttons && buttons.length > 0 && (
            <div class="flex flex-wrap mt-8">
              {buttons.map((button) => (
                <Button {...button} />
              ))}
            </div>
          )
        }
      </div>
      {
        image && image_position != "top" && (
          <div class={`${image_position_classes[2]}`}>
            {image.includes("psek_logo_black.png") ? (
              <>
                <Image
                  class="object-contain rounded-md w-2/3 mx-auto dark:hidden"
                  alt={title || "Section content"}
                  src="/images/psek_logo_black.png"
                  width={500}
                  height={333}
                  loading="lazy"
                />
                <Image
                  class="object-contain rounded-md w-2/3 mx-auto hidden dark:block"
                  alt={title || "Section content"}
                  src="/images/psek_logo_white.png"
                  width={500}
                  height={333}
                  loading="lazy"
                />
              </>
            ) : (
              <Image
                class={`object-contain rounded-md ${
                  image.includes("pexels-kindelmedia-7667911.jpg") ||
                  image.includes("pexels-kindelmedia-7667715.jpg")
                    ? "w-2/3 mx-auto"
                    : "w-full"
                }`}
                alt={title || "Section content"}
                src={image}
                width={500}
                height={333}
                loading="lazy"
              />
            )}
          </div>
        )
      }
    </div>
  </div>
</section>
